<h1>Review New Registrations</h1>

<table class="table table-bordered table-striped">
  <tr>
    <th>Patient Identifier</th>
    <th>Name</th>
    <th>clinic</th>
    <th>Interviewer</th>
    <th>Next Appointment</th>
  </tr>
  <% @participants.each do |participant| %>
    <tr>
      <td><%= participant.patient_identifier %></td>
      <td><%= participant.last_name%>, <%=participant.first_name%></td>
      <td><%= participant.clinic %></td>
      <td><% participant.health_worker.last_name rescue ''%></td>
      <td>[Next Appointment]</td>
    </tr>
  <% end %>
</table>