<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 navigation">
        <h1>Welcome to Friendship Bench!</h1>
        <div class="well">
            <h2 class="text-center">Patient Management</h2>
            <%= link_to "Review New Registrations", participants_path, class: "btn btn-primary" %>
            <%= link_to "Review Sessions / Assessments", active_participants_path, class: "btn btn-success"%>
            <h2 class="text-center">Content</h2>
            <a class= "btn btn-warning" href="#">Edit Intervention Content</a>
        </div>
    </div>
</div>
