div.navigation {
    text-align: center;
}

div.navigation .well a {
    width:60%;
    float: none;
    margin: 0 auto;
    margin-bottom: 10px;
}
div.navigation .well .btn-group {
    width:60%;
    float: none;
    margin: 0 auto;
    margin-bottom: 10px;
}

div.btn-group button{
  width: 33.333333%;
}

div.current-session {
  border: 3px solid #4e5d6c;
  height: 100px;
  text-align: center;
  margin-bottom: 15px;
  background: #4e5d6c;
}

h4.session-header {
  margin-top: 25px;
  color: #4e5d6c;
}

div.current-session span {
  font-size: 68px;
  color: white;
  position: relative;
  top: -10px;
}

button, .btn {
  font-size: 1.3vw !important;
}

a.create-button {}