div.navigation {
    text-align: center;
}

div.navigation .well a {
    width:60%;
    float: none;
    margin: 0 auto;
    margin-bottom: 10px;
}

div.current-session {
  border: 3px solid #4e5d6c;
  height: 125px;
  text-align: center;
  margin-bottom: 15px;
  margin-top: 20px;
  background: #4e5d6c;
}

div.current-session h4 {
  color: white;
}

div.current-session span {
  font-size: 62px;
  color: white;
  position: relative;
  top: -20px;
}